<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <div class="container">
        <form action="{% url 'edit' edit.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="input" type="text" name="ownerName" value="{{ edit.ownerName }}" required/>
            <input class="input" type="text" name="intersection" value="{{ edit.intersection }}" />
            <input class="input" type="text" name="location" value="{{ edit.location }}" />
  
            <input type="date" name="date" value="{{ edit.date_record }}">
            <input type="time" name="time" value="{{ edit.time_record }}"/>
            <input type="submit" value="edit" />
        </form>
    </div>
</body>
</html>