{% extends "base.html" %}
{% load static %}


{% block title %}
{% endblock %}

{% block content %}
<h1>Edit</h1>
    <div class="form-upload">
        <form action="{% url 'edit' edit.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label>Owner</label>
                <input class="input" type="text" name="ownerName" value="{{ edit.ownerName }}" required/>
            </p>
            <p>
                <label>Location</label>
                <input class="input" type="text" name="location" value="{{ edit.location }}" />
            </p>
            <p>
                <label>Intersection name</label>
                <input class="input" type="text" name="intersection" value="{{ edit.intersection }}" />
            </p>  
            <p style = "display: flex; margin-top: 30px; " >
                <input type="date" name="date" value="{{ edit.date_record }}"/>
                <input type="time" name="time" value="{{ edit.time_record }}"/>
            </p>
            <p style="display: flex; margin-top: 30px;">
                <input class="button-submit" type="submit" value="edit" />
            </p>
        </form>
    </div>
</body>
</html>
{% endblock %}