{% extends "base.html" %}
{% load static %}


{% block title %}
{% endblock %}

{% block content %}

<div class = "content">
<div class ="container1">

    <form action ="" class ="search-bar">
      <button type="'submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    
      <input type ="search" placeholder="Search" name="searched">
    </form>
    <div class = "task">
      <a class="btn btn-lg" href="{% url 'uploadPage' %}" > + New task</a>
    </div>
</div>


<table rowspan="2">
    <thead>
        <tr>
            <th> Date </th>
            <th> Name </th>
            <th> Location </th>
            <th> Status </th>
            <th> Date <br> Upload </th>
            <th> Owner <br> (username)</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for task in task %}
        <tr>
          <td>{{ task.date_record }} {{ task.time_record }} </td>
          <td>{{ task.intersection }}</td>
          <td>{{ task.location }}</td>
          {% if task.detect_status == 0 %}
          <td>pending... </td>
          {% elif task.detect_status == 1 %}
          <td>processing...</td>
          {% else %}
          <td>complete!</td>
          {% endif %}
          <td>{{ task.date_upload }}</td>
          <td>{{ task.ownerName}}</td>
          <td><a class="btn btn-secondary btn-sm"  href="{% url 'edit' task.id %}">Edit</a>
          <a class="btn btn-sm btn-danger btn-sm"  href="{% url 'delete' task.id %}">Delete</a> <br>
          <a class="btn btn-secondary btn-sm"  href="{% url 'generalInfo' task.id %}">Detail</a>
          </td>
        {%endfor%}
    </tbody>
</table>
</div>


{% endblock %}